* {
	box-sizing: border-box;
	margin: 0;
}
html, body {
	min-height: 100%;
}


body {
    background: grey;

    font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
}

/* ================= */

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.w-100 {
    width: 100%;
}
.hidden {
    display: none;
}
.href {
    color: blue;
    cursor: pointer;
	text-decoration: underline;
}
/* ================= */

.my_form * {
    font-size: 1rem;
    width: 350px;
}


/* ================= */


.wrapper {
    background: white;
    max-width: 1000px;
    min-height: 100%;
    margin: 0 auto;
    padding: 1em;
}

.my_table {
    margin: 1em auto 0;
    width: calc(100% - 30px);
}

.my_table .col {
    background: #ccccff;
    border: 1px #8888ff solid;
}

.select_page {
    color: blue;
    cursor: pointer;
	text-decoration: underline;
}
.select_page.action {
    font-weight: bold;
}
